<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/add_user.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add New User</h1>
        <form method="POST" action="{{ url_for('admin_routes.add_user') }}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
             
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="role">Role:</label>
            <select id="role" name="role" required>
                    <option value="admin">Admin</option>
                    <option value="editor">Editor</option>
                    <option value="viewer">Viewer</option>
                  </select>
            <button type="submit">Add User</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
           <center><li class="{{ category }}">{{ message }}</li></center> 
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
